*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.coverage
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
.settings/

bin/
coverage/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
htmlcov/
local.cfg
parts/
dist/
var/
Makefile

# OSX
.DS_Store
