*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
.coverage
.settings
bin/
coverage/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
htmlcov/
parts/
dist/
var/
Makefile
local.cfg

# OSX
.DS_Store
