[buildout]

eggs-directory=${buildout:directory}/eggs
download-cache=${buildout:directory}/downloads

parts = test instance omelette 

extends =
    http://dist.plone.org/release/4.1b2/versions.cfg
    http://good-py.appspot.com/release/plone.app.caching/1.0b1
    http://good-py.appspot.com/release/dexterity/1.0b2?plone=4.1b2
versions = versions

develop = .
eggs = 
    plone
    collective.atomsyndication

[test]  
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
defaults = ['-s', 'collective.atomsyndication']

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs = 
    ${buildout:eggs}
zcml =
 
[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

